In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range('20130101', periods=6)

In [5]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))

In [7]:
df

                   A         B         C         D
2013-01-01 -2.528121  0.238741 -1.324395  0.970983
2013-01-02  1.219205  0.466466 -0.284559  0.539875
2013-01-03  0.399061 -0.116904 -1.701287 -1.238717
2013-01-04  1.356344 -0.031760 -0.762979  1.071779
2013-01-05 -1.080622 -0.112189 -1.789214  1.250649
2013-01-06 -1.411433  0.525049 -0.300194 -0.830246

In [8]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})

In [9]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [10]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df2.<TAB>  # noqa: E225, E999
df2.A                  df2.bool
df2.abs                df2.boxplot
df2.add                df2.C
df2.add_prefix         df2.clip
df2.add_suffix         df2.clip_lower
df2.align              df2.clip_upper
df2.all                df2.columns
df2.any                df2.combine
df2.append             df2.combine_first
df2.apply              df2.compound
df2.applymap           df2.consolidate
df2.D

SyntaxError: invalid syntax (<ipython-input-12-2e62111f8e28>, line 1)

In [13]:
df.head()

                   A         B         C         D
2013-01-01 -2.528121  0.238741 -1.324395  0.970983
2013-01-02  1.219205  0.466466 -0.284559  0.539875
2013-01-03  0.399061 -0.116904 -1.701287 -1.238717
2013-01-04  1.356344 -0.031760 -0.762979  1.071779
2013-01-05 -1.080622 -0.112189 -1.789214  1.250649

In [14]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.356344 -0.031760 -0.762979  1.071779
2013-01-05 -1.080622 -0.112189 -1.789214  1.250649
2013-01-06 -1.411433  0.525049 -0.300194 -0.830246